<div class="login-container">

  <!-- Partie gauche -->
  <div class="login-left">
    <i class="fas fa-heartbeat"></i>
    <h1>MedicalCare</h1>
    <p>
      Gérez vos rendez-vous médicaux en toute simplicité.
      Connectez-vous pour accéder à votre espace patient.
    </p>
  </div>

  <!-- Partie droite -->
  <div class="login-right">

    <div class="login-header">
      <h2>Connexion</h2>
      <p>Bienvenue ! Connectez-vous à votre compte</p>
    </div>

  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

  <!-- EMAIL -->
  <div class="form-group">
    <label for="email">
      <i class="fas fa-envelope"></i> Email
    </label>

    <div class="input-wrapper">
      <i class="fas fa-envelope"></i>
     <input
  type="email"
  id="email"
  name="email"
  required
  email
  #loginctrl="ngModel"
  [(ngModel)]="userLogin.email"
  [ngClass]="{
    'invalid-input': loginctrl.invalid && loginctrl.touched,
    'valid-input': loginctrl.valid && loginctrl.touched
  }">

    </div>

    <div class="error-message" *ngIf="loginctrl.invalid && loginctrl.touched">
      Email invalide
    </div>
  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label for="password">
      <i class="fas fa-lock"></i> Mot de passe
    </label>

    <div class="input-wrapper">
      <i class="fas fa-lock"></i>
      <input
  type="password"
  id="password"
  name="password"
  required
  minlength="6"
  #passwordctrl="ngModel"
  [(ngModel)]="userLogin.password"
  [ngClass]="{
    'invalid-input': passwordctrl.invalid && passwordctrl.touched,
    'valid-input': passwordctrl.valid && passwordctrl.touched
  }">

    </div>

    <div class="error-message" *ngIf="passwordctrl.invalid && passwordctrl.touched">
      Mot de passe minimum 6 caractères
    </div>
  </div>

  <!-- BOUTON -->
  <button
    type="submit"
    [disabled]="loginForm.invalid"
    class="btn-login">
    Se connecter
  </button>

</form>


  </div>

</div>
