<nav>
    <div class="nav-container">
        <div class="logo">
            <i class="fas fa-heartbeat"></i>
            MedicalCare
        </div>
        <ul class="nav-links">
            <li>
                <a routerLink="/public/create-patient" 
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: false}">
                    <i class="fas fa-chart-line"></i> creer un compte
                </a>
            </li>
            <li>
                <a routerLink="/public/login" 
                   routerLinkActive="active">
                    <i class="fas fa-plus-square"></i> se connecter
                </a>
            </li>
           
        </ul>
        
        <!-- Menu utilisateur avec dropdown -->
        
     
    </div>
</nav>