<div class="pagination-controls" *ngIf="totalPages > 1">
  <button class="pagination-btn" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
    <i class="fas fa-chevron-left"></i>
  </button>

  <div class="pagination">
    <button *ngFor="let p of pages" class="pagination-btn" [class.active]="p === currentPage" (click)="goToPage(p)">
      {{ p }}
    </button>
  </div>

  <button class="pagination-btn" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
